.panel {
  display: none;
}
#orderForm {
  background-image: url("../img/pinup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: inherit;
  padding: 3rem;
}
.well {
  background-color: rgba(245, 245, 245, 0.62);
  border-radius: 1rem;
}
.jumbotron{
  background-color: #f8e8db;
}
button{
  margin: 2rem;
  margin-left: 46%;
  border-radius: 1rem;
}
p{
  font-size: 20px;
}
.panel-body{
  background-color: #f8e8db;
}
ol {
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 15%;
}
.panel-heading{
  text-align: center;
  font-size: 30px;
}
#seePrice {
  font-weight: bold;
  color: blue;
}
